@import "../lib/variables.scss";
@import "../lib/mixin.scss";

.detail-name__container {
  max-width: 50%;
  min-height: 100%;
  background-color: $secondary-purple;
  padding: $small-space;
  h2 {
    margin-top: 4px;
    font-family: $font-1;
    font-size: $font__size-h2;
    color: $primary-white;
  }
  h4 {
    margin-bottom: 4px;
    font-family: $font-2;
    font-weight: 400;
    font-size: $font__size-h6;
    color: $primary-white;
  }
  img {
    display: block;
    width: 400px;
    border-radius: $border-radius;
    margin: 40px auto;
  }
}

.detail-info__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: $mini-space 0 $mini-space $mini-space;
  width: 50%;
  min-height: 100%;
  h3 {
    font-family: $font-1;
    font-size: $font__size_h3;
    color: $primary-white;
    margin: 0;
  }
  ul {
    font-family: $font-2;
    font-size: $font__size-h5;
    list-style: none;
    padding-inline-start: 0;
    color: $primary-white;
    li {
      display: flex;
      align-items: center;
      margin: $mini-space;
      font-family: $font-2;
      font-weight: 300;
      font-size: $font__size-h6;
      color: $primary-white;
      h3 {
        display: block;
        margin-top: 4px;
        margin-left: 16px;
        font-family: $font-1;
        font-size: $font__size-h3;
        color: $primary-white;
      }
    }
  }
}

.details-container {
  display: flex;
  flex-direction: row;
  padding: 0 $medium-space;
  margin: $small-space auto;
  max-width: 60%;
  min-height: 40vh;
  border-radius: $border-radius * 4;
  background-color: $primary-purple;
}

.details-icon {
  color: $primary-white;
  margin-right: $nano-space / 2;
}

.hazardous {
  &-container {
    width: 100%;
    text-align: right;
    margin-bottom: -60px;
  }
  &-icon {
    width: 40px;
    color: $primary-white;
  }
}
