@import "../lib/variables.scss";
@import "../lib/mixin.scss";

.button__primary-medium {
  text-decoration: none;
  font-family: $font-2;
  font-weight: normal;
  font-size: 16px;
  color: white;
  @include button-primary-medium;
  background-image: linear-gradient(to right, #7424c9, #c8377f, #febc78);
  border: none;
  cursor: pointer;
  background-size: 300% 100%;
  transition: all 0.4s ease-in-out;
  &:hover {
    color: $primary-black;
    background-position: 100% 0;
    transition: all 0.4s ease-in-out;
  }
  &:focus {
    outline: none;
  }
}
