@import "../lib/mixin.scss";
@import "../lib/variables.scss";

.Certificate {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -40px;
  width: 82%;
  display: flex;
  justify-content: center;
}

.Certificate img {
  width: 100%;
}
