@import "../lib/variables.scss";
@import "../lib/mixin.scss";

.colaborators-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-column-start: 2;
  margin: 80px auto;
  max-width: 80%;
  &__grid {
    display: grid;
    grid-template-columns: $large-space 1fr $large-space;
  }
}
