@import "../lib/variables.scss";
@import "../lib/mixin.scss";

.featured {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  width: 33%;
  padding: $mini-space;
  img {
    max-width: 120px;
  }
  &__grid {
    display: grid;
    grid-template-columns: $extra-space 1fr $extra-space;
  }
  &__container {
    display: flex;
    flex-direction: row;
    grid-column-start: 2;
  }
  &__info {
    padding: $nano-space;
    text-align: start;
  }
  &__title {
    font-family: $font-1;
    font-size: $font__size-h5;
    color: $primary-yellow;
    margin: -($nano-space);
  }
  &__description {
    font-family: $font-2;
    font-size: $font__size-h6;
    color: white;
  }
}
