@import "../lib/variables.scss";
@import "../lib/mixin.scss";

form {
  display: block;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  input {
    min-width: 100%;
    height: 40px;
    border-radius: $border-radius;
    border-style: none;
  }
}

h2 {
  font-family: $font-2;
  font-size: $font__size-h5;
  font-weight: normal;
  color: $primary-white;
  margin-bottom: $nano-space / 2;
}

.buttons {
  display: flex;
  max-width: 70%;
  justify-content: space-around;
  margin: 0 auto;

  button {
    margin-top: 40px;
    margin-left: 16px;
    text-decoration: none;
    font-family: $font-2;
    font-weight: normal;
    font-size: 16px;
    color: white;
    @include button-primary-medium;
    background-image: linear-gradient(to right, #7424c9, #c8377f, #febc78);
    border: none;
    cursor: pointer;
    background-size: 300% 100%;
    transition: all 0.4s ease-in-out;
    &:hover {
      color: $primary-black;
      background-position: 100% 0;
      transition: all 0.4s ease-in-out;
    }
    &:focus {
      outline: none;
    }
  }
}
