@import '../lib/variables.scss';

.Header {
  width: 80%;
  margin: 0 auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo img {
    padding: 8px 0 8px;
    width: 200px;
  }
  &__menu {
    display: flex;
  }
}

.Header__menu--list {
  display: flex;
  list-style: none;
}

.Header__menu--list li a {
  margin-right: $mini-space;
  font-family: $font-2;
  font-size: $font__size-h6;
  list-style: none;
  text-decoration: none;
  color: white;
}

.Github__icon {
  margin-left: 20px;
  width: 50px;
}
