@import "../lib/variables.scss";
@import "../lib/mixin.scss";

.Hero {
  &__container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
  }
  &__title {
    font-family: $font-1;
    font-size: $font__size-h2;
    color: $primary-white;
  }

  &__text {
    width: 40%;
    margin-left: 80px;
  }

  &__img {
    position: absolute;
    display: flex;
    //margin-left: 45px;
    margin-left: -90px;
    & img {
      padding-top: 40px;
      width: 480px;
    }
  }
}

.Container {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__gradient {
    width: 363px;
    height: 478px;
    //margin-left: auto;
    margin-left: auto;
    margin-right: 50px;
    background: $primary-gradient;
    border-radius: $border-radius;
    box-shadow: $box-shadow-medium;
  }
}
