@import "../lib/variables.scss";
@import "../lib/mixin.scss";

.share-container {
  display: flex;
  margin-top: 40px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: $primary-white;
  p {
    font-family: $font-2;
    font-size: $font__size-h6;
  }
  .icon {
    margin: $nano-space;
  }
  a {
    color: white;
    &:hover {
      color: $primary-yellow;
    }
  }
}
