body {
  width: 100%;
  margin: 0 auto;
  background-image: url(./img/Fondo2.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #1a0b41;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.h2-prueba {
  margin-top: 150px;
  color: white;
  font-family: 'Cunia', sans-serif;
  font-size: 44px;
  text-align: center;
}

hr {
  color: white;
  width: 80%;
  margin-bottom: 40px;
}
