.h2-prueba {
  color: white;
  font-family: 'Cunia', sans-serif;
  font-size: 44px;
  text-align: center;
}
.hr-prueba {
  background-color: white;
  width: 80%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  height: 1px;
}
